body{
    background-image: url('back5.jpg');
    background-repeat: no-repeat;
    background-size:cover;
 
}

form {
    /* background-image: url('back6.jpg'); */
    width:450px;
    height:450px;
    margin-top: 40px;
    padding: 5px;
    border: 5px;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 10px 30px 50px rgb(189, 149, 149);

}

h2 {
    margin-top: 30px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
    color: white;
}

label {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    text-transform: capitalize;
    /* text-decoration: underline; */
    color: rgb(212, 171, 171);
}

input {
    width: 250px;
    padding: 10px;
    border: 3px solid rgb(22, 11, 11);
    border-radius: 5px;
    margin-top: 10px;
}

button {
    width:250px;
    padding: 10px;
    font-size: 20px;
    background-color:rgb(224, 168, 168);
    color:black;
    border-radius: 10px;
    margin-top: 50px;
    display: -moz-popup;
    font-weight: bold;
    left: 15%;
    position: relative;
    


}