#number2 {
    background-color: blueviolet;
}
#number {
    background-color: pink;
}
#number1 {
    background-color: aqua;
}
#number3 {
    background-color: burlywood;
}
#number4 {
    background-color: cadetblue;
}
#number5 {
    background-color: coral;
}

#name {
    background-color: cornflowerblue;
}
#name1 {
    background-color: cadetblue;
}
#name2 {
    background-color: darkcyan;
}
#name3 {
    background-color: coral;
}
#name4 {
    background-color: aqua;
}
#name5 {
    background-color: burlywood;
}

#phone {
    background-color: coral;
}
#phone1 {
    background-color:rgb(161, 145, 175);
}
#phone2 {
    background-color:cadetblue;
}
#phone3 {
    background-color: cornflowerblue;
}
#phone4 {
    background-color: cyan;
}
#phone5 {
    background-color: aquamarine;
}

#email {
    background-color: rgb(161, 145, 175);
}
#email1 {
    background-color: aqua;
}
#email2 {
    background-color: burlywood;
}
#email3 {
    background-color: darkseagreen;
}
#email4 {
    background-color: aquamarine;
}
#email5 {
    background-color: cadetblue;
}

#country {
    background-color:blueviolet;
}
#country1 {
    background-color:burlywood;
}
#country2 {
    background-color: coral;
}
#country3 {
    background-color: burlywood;
}
#country4 {
    background-color: blueviolet;
}
#country5 {
    background-color: darkgray;
}